{% extends 'layout.html.twig' %}
{% block title %}Listado vehiculos{% endblock %}
{% block content %}
    {% if vehiculos %}
    {% set ruta = app.request.get('_route') %}
    {% if ruta == 'listado_categoria' %}
        <h1>Listado de {{ vehiculos[0].categoria }}s</h1>
    {% else %}
        <h1>Listado de vehiculos</h1>
    {% endif %}
    <table class="table table-responsive table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th class="col-sm-1">Matricula</th>
            <th class="col-sm-2">Marca y Modelo</th>
            <th class="col-sm-1">Categoria</th>
            <th class="col-sm-1">Cilindrada</th>
            <th class="col-sm-2">Combustible</th>
            <th class="col-sm-3">Direccion</th>
            {% if app.user %}
                <th class="col-sm-1">Precio por dia</th>
                <th class="col-sm-1"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for vehiculo in vehiculos %}
            <tr>
                <td><a href="{{ path('detalle_vehiculo', {'matricula': vehiculo.matricula}) }}">{{ vehiculo.matricula }}</a></td>
                <td>{{ vehiculo.marca }} {{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.categoria }}</td>
                <td>{{ vehiculo.cilindrada }} cc</td>
                <td>{{ vehiculo.combustible }}</td>
                <td>{{ vehiculo.direccionAlmacenado }}</td>
                {% if app.user %}
                    <td>{{ vehiculo.preciodia }} €</td>
                {% endif %}
                    <td><a href="{{ path('edicion_vehiculos', {'id': vehiculo.id}) }}" class="btn btn-xs btn-info col-sm-6" title="Modificar"><i class="fa fa-pencil"></i></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>No hay vehiculos en esa categoria</h2>
    {% endif %}
{% endblock %}