{% extends 'layout.html.twig' %}

{% block title %}
Detalle - {{ coches[0].matricula }}
{% endblock %}

{% block content %}
<table class="table table-responsive table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th class="col-sm-6">Matricula</th>
        <th class="col-sm-6">{{ coches[0].matricula }}</th>
    </tr>
    </thead>
    <tbody>
        <tr><td>Marca</td><td>{{ coches[0].marca }}</td></tr>
        <tr><td>Modelo</td><td>{{ coches[0].modelo }}</td></tr>
        <tr><td>Cilindrada</td><td>{{ coches[0].cilindrada }} cc</td></tr>
        <tr><td>Combustible</td><td>{{ coches[0].combustible }}</td></tr>
        <tr><td>Direccion</td><td>{{ coches[0].direccionalmacenado }}</td></tr>
        {% if app.user %}<tr><td>Precio por dia</td><td>{{ coches[0].preciodia }} €</td></tr>{% endif %}
        <tr><td colspan="2" align="center"><img src="{{ '/imagenes/vehiculos/coche/' ~ coches[0].matricula ~'.jpg' }}"></td></tr>
    </tbody>
</table>
    <input type="button" class="btn btn-info" OnClick="history.back()" value="Volver">
{% endblock %}


