{% extends 'layout.html.twig' %}
{% block title %}Listado alquileres{% endblock %}
{% block content %}
    {% if app.user.saldo > 0 %}
        <a href="{{ path('nuevo_alquiler') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo alquiler</a>
    {% else %}
        <div class="alert-danger">No puede alquilar mientras su saldo sea negativo</div>
    {% endif %}

    {% if alquiler %}
        <h1>Listado de alquileres</h1>
        <table class="table table-responsive table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th class="col-sm-2">Usuario</th>
                <th class="col-sm-2">Coche</th>
                <th class="col-sm-1">Dias</th>
                <th class="col-sm-1">Precio total</th>
                <th class="col-sm-1">Estado</th>
                {% if is_granted('ROLE_COMERCIAL') %}
                    <th class="col-sm-1">Accion</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in alquiler %}
                <tr>
                    <td>{{ item.usuario }}</td>
                    <td>{{ item.vehiculo }}</td>
                    <td>{{ item.dias }}</td>
                    <td>{{ item.precioTotal }} €</td>
                    <td>{% if item.alquilado %}<i class="fa fa-check"></i>Aceptado {% if item.devuelto %}<i class="fa fa-car"></i>Devuelto {% endif %}{% if item.paraReparar %}<i class="fa fa-wrench"></i>Reparacion {% endif %}{% elseif item.rechazado %}<i class="fa fa-times">Rechazado{% else %}<i class="fa fa-laptop">Pendiente{% endif %}</td>
                    {% if is_granted('ROLE_COMERCIAL') %}
                        <td>{% if not item.alquilado and not item.rechazado %}<a href="{{ path('resolucion_alquiler', {'id': item.id, 'accion': 'aceptado'}) }}" class="btn btn-xs btn-success " title="Aceptar"><i class="fa fa-check"></i></a>
                        <a href="{{ path('resolucion_alquiler', {'id': item.id, 'accion': 'rechazado'}) }}" class="btn btn-xs btn-danger " title="Rechazar"><i class="fa fa-times"></i></a>{% endif %}
                        <a href="{{ path('edicion_alquiler', {'id': item.id}) }}" class="btn btn-xs btn-warning " title="Modificar"><i class="fa fa-pencil"></i></a>
                        <a href="{{ path('eliminar_alquiler', {'id': item.id}) }}" class="btn btn-xs btn-danger " title="Eliminar"><i class="fa fa-trash"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No hay alquileres que mostrar</h2>
    {% endif %}
{% endblock %}